html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--backgroundPrimary);

}

a {
  color: inherit;
  text-decoration: none;
}


* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}


:root {
  --primary: rgb(218, 0, 218);
  --secondary: rgb(133, 8, 236);
  --textPrimary: #dfdede;
  --textSecondary: #ececec;
  --disabled: #c0c0c0;
  --backgroundPrimary: #181818;
  --backgroundPanels:#292929;
  --error:rgb(241, 70, 70);
}
